/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: #f0f0f0;
    position: relative;
    animation: fadeIn 1.2s ease-in;
}

.page_layout 
    {
        display: flex;
        flex: 1; 
        min-height: calc(80vh - 60px); 
    }

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

/* Navigation bar */
.navbar 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.5rem;
        background-color: #121212;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        position: sticky;
        top: 0;
        z-index: 1000;
        animation: fadeIn 1s ease-in-out;
    }   
   
   
   
   
.cart_sidebar
    {
        position: sticky;
        top: 50px;
        background-color: gold;
        width: 200px;
        height: calc(80vh - 60px);
        overflow-y: auto;
    }
        
.cart_sidebar ul li 
    {
        list-style: none;
        text-align: center;
                
    }

.cart_sidebar ul li a
    {
        padding: 10px;
        display: block;
        text-decoration: none;
        color: black;
    }

.cart_sidebar ul li a:hover
    {
        background-color: gray;
    }

.cart_main
    {
        flex: 1;
        padding: 30px;
    }




/*footer*/
.footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    background-color: #222;
    color: #fff;
}

.footer-column {
    flex: 1 1 45%;
    margin: 5px 0;
}

.footer-column img {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.footer-column p {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.footer-column h3 {
    margin-bottom: 10px;
    font-size: 13px;
    color: #ffcc00;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #fff;
}

@media (max-width: 680px) {
    .footer-column {
        flex: 1 1 100%;
    }

     .page_layout {
        flex-direction: column;
    }

    .cart_sidebar {
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
    }

    .cart_main {
        padding: 20px;
    }
}