   .cart_sidebar
            {
                position: fixed;
                top: 0;
                background-color: gold;
                width: 200px;
                height: 100%;
            }
        
        .cart_sidebar ul li 
            {
                list-style: none;
                text-align: center;
                
            }

        .cart_sidebar ul li a
            {
                padding: 10px;
                display: block;
                text-decoration: none;
                color: black;
            }

        .cart_sidebar ul li a:hover
            {
                background-color: gray;
            }

        .cart_main
            {
                padding: 30px;
                margin-left: 200px;
            }